:root {    
    --e-global-color-primary: #FFD012;
    --e-global-color-secondary: #0B3665;
}

.eel-domain-search{
    form {
        display: flex;
        width: 100%; /* or set a fixed width like 400px */
        border: none;
        overflow: hidden;
        gap: 16px;
        position: relative;
        @media screen and (max-width: 575px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .unicon-search{
        position: absolute;
        left: 16px;
        top: 50%;
        font-size: 22px;
        transform: translateY(-50%);
        @media screen and (max-width: 575px) {
            top: 20%;
        }
    }

    /* Input field styling */
    form input[type="text"] {
        flex: 1; /* take up remaining space */
        padding: 16px 16px 16px 40px;
        border: none;
        outline: none;
        font-size: 16px;
        border-radius: 16px;
        width: 500px;
    }

    /* Button styling */
    form button {
        padding: 18px 32px;
        background-color: var(--e-global-color-primary);
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
        border-radius: 16px;
        @media screen and (max-width: 575px) {
            width: 100%;
        }
    }
}
