:root {    
    --e-global-color-primary: #EAA638;
    --e-global-color-secondary: #0B3665; 
    --e-global-color-text: #7A8986;
}
.ee--contact-box{
    width: 100%;
    svg{
        height: 1em;
    }
    .contact-box-title{
        color: var(--e-global-color-secondary);
        margin-bottom: 14px;
        a{
            color: currentColor;
        }
    }
    .eel-icon{
        min-width: 60px;
        height: 60px;
        background: var(--e-global-color-primary);
        display: inline-grid;
        margin-bottom: 36px;
        border-radius: 16px;
        font-size: 20px;
        place-content: center;
    }
    .contact-box-description{
        font-size: 18px;
        color: var(--e-global-color-text);
        a{
            color: currentColor;
        }
    }
    &.right,
    &.left{
        display: flex;
        gap: 20px;
        .eel-icon{
            margin-bottom: 0;
            margin-top: 4px;
        }
    }
    &.right{
        .eel-icon{
            order: 2;
        }
    }
}