:root {    
    --e-global-color-primary: #EAA638;
}

.eel-page-title{
    line-height: 100%;
    margin: 0;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    .eel-border-left{
        display: block;
        width: 40px;
        height: 1px;
        background: #00000026;
    }
}

.eel-highlighted{
    color: var(--e-global-color-primary);
}

.eel-title-size-small{
    .eel-page-title{
        font-size: 16px;
        text-transform: uppercase;
        color: #0B3665;
    }
}

.eel-border-position-right .eel-border-left{
    order: 2;
}